LoginScreen {
    align: center middle;
}

Vertical {
    height: auto;
}


LoginForm {
    height: 15;
    width: 40;
}

LoginForm Button {
    width: 48%;
}

LoginForm Checkbox {
    width: 50%;
}

Input {
    width: 100%;
    margin-bottom: 1;
}

.success {
    background: green;
}